.index {
  background-image: url("https://images.pexels.com/photos/736355/pexels-photo-736355.jpeg?auto=compress&cs=tinysrgb&w=1600");
  background-repeat: no-repeat;
  background-size: cover;
  background: position 20px;
  background-position-y: 20%;
}

.index-h1 {
  text-align: center;
  margin-top: 20%;
  font-size: 50px;
  background-color: #68626298;
  padding: 1px;
  box-shadow: 10px 10px 10px 10px rgba(158, 54, 54, 5);
}

.boton {
  border: none;
  border-radius: 45px;
  background-color: #d12c16;
  color: white;
  padding: 25px 70px;
  text-align: center;
  text-decoration: none;
  font-size: 26px;
  font-family: "Franklin Gothic Medium";
  cursor: pointer;
  margin-left: 820px;
}

.index-h2 {
  color: antiquewhite;
  font-family: "Segoe UI";
  font-size: 20px;
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
}

.index-p {
  color: antiquewhite;
  font-family: "Segoe UI";
  font-size: 15px;
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
}
