body {
  background-image: url("https://images.pexels.com/photos/15283115/pexels-photo-15283115.jpeg?auto=compress&cs=tinysrgb&w=1600");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-y: 10%;
}

h1 {
  color: rgb(0, 0, 0);
  font-family: "Segoe UI";
  font-size: 60px;
  text-align: center;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.158);
  padding: 10px;
}

.boton2 {
  border: none;
  border-radius: 45px;
  background-color: #000000;
  color: white;
  padding: 25px 70px;
  text-align: left;
  text-decoration: none;
  font-size: 26px;
  font-family: "Gill Sans";
  cursor: pointer;
  margin-left: 400px;
  font-family: Impact;
}

.boton1 {
  border: none;
  border-radius: 45px;
  background-color: #000000;
  color: white;
  padding: 25px 70px;
  text-align: left;
  text-decoration: none;
  font-size: 26px;
  font-family: "Gill Sans";
  cursor: pointer;
  margin-left: 500px;
  font-family: Impact;
}

p {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 30px;
  background-color: rgba(235, 241, 142, 0.63);
  padding: 10px;
  margin-top: 10%;
}
